.headerRoot {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    height: 7vh;
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 0.5vw;
    font-size: 12px;
}

.headerRootSpaceBetween {
    justify-content: space-between;
}

.headerLeft > img{
    width: 100px;
    height: 30px;
}

.headerRight {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding-right: 2vw;
}

.headerLearMore {
    margin-top: 1.7vh;
    margin-right: 1vw;
}

.menuButtonImg {
    width: 3vh;
    margin-right: 1vw;
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    background-color: #f3f3f4;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 530;
    color: #5f6369;
}

/* tablet */
@media (min-width: 640px) and (max-width: 959px) {
    .headerLeft > img{
        margin-left: 10px;
    }
}

@media (max-width: 639px) {
    .headerRoot {
        padding-top: 1vh;
    }
    .headerLeft > img{
        margin-top: 5px;
        margin-left: 10px;
        width: 80px;
        height: 25px;
    }
    .headerLearMore {
        display: none;
    }
    .menuButtonImg {
        display: none;
    }
}
