.body {
    display: block;
    padding-top: 25vh;
    text-align: center;
}

.homeLogo {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vmax;
    vertical-align: middle;
}

.homeLogo > img {
    width: 50vmin;
}

.homeSearchBar {
    width: 100%;
}

.homeSearchBar > input {
    width: 70vmax;
    height: 4vh;
    padding-left: 20px;
    margin-bottom: 2vh;
    border: solid 1px #0000003b;
    border-radius: 25px;
    box-shadow: 3px 3px #00000018;
    font-size: 14px;
    outline: none;
}

.buttonGroup {
    width: 100%;
}

.buttonGroup > * {
    margin-right: 1vmax;
}

.btn {
    background-color: #f3f3f4;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 530;
    color: #5f6369;
}

/* tablet */
@media (min-width: 640px) and (max-width: 959px) {
    .homeSearchBar > input {
        width: 50vmax;
        height: 3.5vh;
    }
}

/* mobile */
@media (max-width: 639px) {
    .homeSearchBar > input {
        width: 40vmax;
        height: 3.5vh;
        font-size: 12px;
    }
    .btn {
        background-color: #f3f3f4;
        border-radius: 10px;
        font-size: 12px;
        color: #5f6369;
    }
}
