.body {
    display: block;
    padding-top: 15%;
    text-align: center;
}

.homeLogo {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    vertical-align: middle;
}

.homeLogo > img {
    width: 30%;
}

.homeSearchBar {
    width: 100%;
}

.homeSearchBar > input {
    width: 45%;
    height: 40px;;
    padding-left: 10px;
    border: solid 1px #0000003b;
    border-radius: 25px;
    box-shadow: 3px 3px #00000018;
}